/* Give headings their own font */
 
h1, h2, h3, h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
 
/* Main content area */

body{
  font-family: sans-serif;
}
 
#content {
  margin: 80px 70px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
 /* Slots for final card positions */
 
#cardSlots {
  margin: 15px auto 0 auto;
  background: #ddf;
  overflow: auto;
}
 
/* The initial pile of unsorted cards */
 
#cardPile {
  margin: 0 auto;
  background: darkgrey;
}
 
#cardPile {
  width: 910px;
  font-size: 12px;
  height: 120px;
  padding: 20px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}
#cardSlots{
  display: table;
  width: 910px;
  height: auto;
  padding: 20px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);}
.cardsRow {
  display:table-row;
} 
/* Individual cards and slots */
#cardPile div {
  float: left;
  font-size: 12px;
  width: 58px;
  height: 100px;
  padding: 10px;
  padding-bottom: 0;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 0 10px;
  background: #fff;
}
#cardSlots div.ui-droppable{
  display: table-cell;
  width: 5px;
  height: 67px;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 0 10px;
  background: #ddf;
}
div#primacarta{
  display: table-cell;
  font-size: 12px;
  width: 58px;
  height: 110px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 0 10px;
  background: darkgrey;
}
 
#cardSlots div:first-child, #cardPile div:first-child {
  margin-left: 0;
}
 
#cardSlots div.hovered {
  background: #aaa;
}
 
#cardPile div {
  background: #666;
  color: #fff;
  font-size: 12px;
  text-shadow: 0 0 3px #000;
}
 
#cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

div.carta_p{
  float: left;
  font-size: 12px;
  width: auto;
  height: auto;
  padding: 10px;
  padding-bottom: 100;
  border: 2px solid #333;
  margin: 0 0 10px 10px;
  background: #fff;
}

#other_players{
  margin: 0 0 20px 77px;
  width: 910px;
  font-size: 12px;
  height: 40px;
  padding: 20px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}