<!doctype html>
<html>
<head>
<title>Anno Domini</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script type="text/javascript">

var stopPollingGames = 0;
var stopPollingBa = 0;
var banco = new Array();
var bancoPreDoubt = new Array();
var player_server_port = location.port;
var game_status = 0;
var prevHandLenght = 0;
var mustRefreshBanco = false;
var stopPollingTr = 0;
var player_server_port = location.port;  

//funzione che chiede il banco al serverino sottostante e lo mostra nella GUI
function mostraDateBanco() {
  console.log("Scopri banco");
  $("#cardPile div").draggable( "disable" );
  $('#cardSlots').html('');
  var flag = false;
  for (var i=0; i<bancoPreDoubt.length;i++){
    if (flag ==false){
      $('<div>' + i + '</div>').data( 'number', i ).appendTo( '#cardSlots' ).droppable( {
        accept: '#cardPile div',
        hoverClass: 'hovered',
        drop: handleCardDrop
      });
      $('<div>' + bancoPreDoubt[i].year + '</div>').data( 'number', i).attr( 'id', 'primacarta' ).appendTo( '#cardSlots' )
      z = i+1
      $('<div>' + z + '</div>').data( 'number', z ).appendTo( '#cardSlots' ).droppable( {
        accept: '#cardPile div',
        hoverClass: 'hovered',
        drop: handleCardDrop
        });
      flag = true;
    }
    else if(flag == true) {
      $('<div>' + bancoPreDoubt[i].year + '</div>').data( 'number', i ).attr( 'id', 'primacarta' ).appendTo( '#cardSlots' )
      y=i+1
      $('<div>' + y + '</div>').data( 'number', y).appendTo( '#cardSlots' ).droppable( {
        accept: '#cardPile div',
        hoverClass: 'hovered',
        drop: handleCardDrop
      });
    }
  }
  bancoPreDoubt = banco;
  mustRefreshBanco = true;
}

function askPlayerCards(){
  $(function() {
    callAjax();
  });
  var varajax;
  function callAjax() {
    varajax = $.ajax({
      cache: false,
      url: 'http://localhost:'+player_server_port+'/playerCards',        
      dataType: 'json',  
      success: function(data) {
        if( game_status == 1 ){
          $('#other_players').empty();
          $('#other_players, .carta_p').show();
          for( key in data )
            $("#other_players").append("<div class='carta_p' style='float:left;'>"+key+"("+data[key]+")"+"</div>");
        }
      }
    });
  }
}

function chiediMano(){
  $.ajax({
    url: 'http://localhost:'+ player_server_port +'/mano',
    type: "GET",
    dataType: "json",
    success: function (data) {
      numbers = data
      if (prevHandLenght != numbers.length){
        $('#cardPile').html('');
        for ( var i=0; i<numbers.length; i++ ) {
          $('<div>' + numbers[i].event + '</div>').data( 'card_id', numbers[i].card_id ).attr( 'id', 'card'+numbers[i] ).appendTo( '#cardPile' ).draggable( {
          containment: '#content',
          stack: '#cardPile div',
          cursor: 'move',
          revert: true
          });
        prevHandLenght = numbers.length
        }
      }
    }
  })
}

function handleCardDrop( event, ui ) {
  ui.draggable.draggable( 'disable' );
  $(this).droppable( 'disable' );
  ui.draggable.position( { of: $(this), my: 'left top', at: 'left top' } );
  ui.draggable.draggable( 'option', 'revert', false );
  playCard(ui.draggable.data( 'card_id' ),$(this).data( 'number' ))
  console.log($(this).data( 'number' ))
  console.log(ui.draggable.data( 'card_id' ))
}

function showGames(){
  var games
  var my_delay = 1000;
  $(function() {
    callAjax();
  });
  var varajax;
  function callAjax() {
  varajax = $.ajax({
    url: 'http://localhost:'+ player_server_port +'/gamesList',
    type: "GET",
    dataType: "json",
    success: function (data) {
      setTimeout(callAjax, my_delay);
      games = data
      if (games['zero'] == 0) {
        $('#partite').html('');
        $('#partite').html('<h2>non ci sono partite</h2><input type="button" id="createGame" value="createGame">');
        $("#createGame").click(function() {
          console.log("ciao");
          $("#creap").show();
          $("#partite").hide();
        });
      }
      else {
        $('#partite').html('');
        $('#partite').html('<table id="mytable"><tr><td>ID</td><td>CREATOR</td><td>PLAYER_N</td></tr></table><input type="button" id="createGame" value="createGame">');
        $("#createGame").click(function() {
          console.log("ciao");
          $("#creap").show();
          $("#partite").hide();
        });
        for ( var i=0; i<games.length; i++ ) {
          $('#mytable tr:last').after("<tr><td><a onclick=joinGames("+games[i].game_id+")>"+games[i].game_id+"</a></td><td>"+games[i].creator.username+"</td><td>"+games[i].player_n+"</td></tr>");
        }
      }
    }
  })
  if (stopPollingGames == 1){
    varajax.abort();
  }
  }
}

function joinGames(game_id){
  stopPollingGames = 1;
  $.ajax({
    url: 'http://localhost:'+ player_server_port +'/joinGame/'+game_id,
    type: "PUT",
    dataType: "text",
    success: function (data) {
      pollingAjaxsg(); 
      pollingAjaxdb();
    }
  });
}

function playCard(card_id,position){
  $.ajax({
    url: 'http://localhost:'+player_server_port+'/playCard/'+card_id+'/'+position,
    type: "PUT",
    dataType: "text",
    success: function (data) {
      stopPollingTr = 0;
      pollingAjaxtr();
      pollingAjaxdb();
    }
  });
  chiediMano()
}

function pollingAjaxsg(){
  $('#partite').html('');
  $('#partite').html('<h2>ATTENDERE INIZIO PARTITA...</h2>');
  var my_delay = 1000;
  var stopPollingSG = 0;
  $(function() {
    callAjax();
  });
  var varajax;
  function callAjax() {
    if (stopPollingSG != 1) {
      varajax = $.ajax({
          cache: false,    
          url: 'http://localhost:'+ player_server_port +'/gameStatus',        
          dataType: 'json',  
          success: function(data) {
            setTimeout(callAjax, my_delay);
            if(data['status'] == 1){
               game_status = 1;
               stopPollingSG = data['status'];
               chiediMano();
               $('#other_players').show();
               $("#cardPile").show();
               $("#dubbio").show();
               $("#cardSlots").show();
               pollingAjaxtr();
               pollingAjaxba();
            }
          }
      });
    }
    else
      varajax.abort();
  }
}

function pollingAjaxtr() {
  $('#partite').html('');
    $('#partite').html('<h2>ATTENDERE IL PROPRIO TURNO...</h2>');
    var my_delay = 1000;
    $(function() {
      callAjax();
    });
    var varajax;
    function callAjax() {
      if (stopPollingTr != 1) {
        varajax = $.ajax({
          cache: false,
          url: 'http://localhost:'+player_server_port+'/turnStatus',        
          dataType: 'json',  
          success: function(data) {
            setTimeout(callAjax, my_delay);
            askPlayerCards();
            if(data['turn'] == 1){
              $('#dubbio').attr('disabled', false);
               $('#partite').html('');
               $('#partite').html('<h2>E IL TUO TURNO</h2>');
               chiediMano()
               $("#cardPile div").draggable( "enable" );
               stopPollingTr = 1;
            }
            else{
              $('#dubbio').attr('disabled', true);
               $('#partite').html('');
               $('#partite').html('<h2>ATTENDERE IL PROPRIO TURNO...</h2>');
               $("#cardPile div").draggable( "disable" );
               chiediMano()
            }
          }
        });
      }
      else
        varajax.abort();
  }
}

function pollingAjaxdb(){
  var my_delay = 1000;
  $(function() {
    callAjax();
  });
  var varajax;
  function callAjax() {
    varajax = $.ajax({
      cache: false,    
      url: 'http://localhost:'+ player_server_port +'/doubtStatus',        
      dataType: 'json',  
      success: function(data) {
        setTimeout(callAjax, my_delay);
        if(data['doubt'] != 0) { //Entro solo se qualcuno ha dubitato
          stopPollingBa = 1;
          stopPollingTr = 1;
          mostraDateBanco();
          setTimeout(
            function restartPollingBa() {
              stopPollingBa = 0;
              stopPollingTr = 0;
              pollingAjaxba();
              pollingAjaxtr();
            }, 10000);
          if (data['status']== 1) { //Dubitato Male
            $('#esitoDubbio').text("IL GIOCATORE "+data['doubt']+" HA DUBITATO " +"MALE");
            $('#esitoDubbio').show();
            console.log("IL GIOCATORE "+data['doubt']+" HA DUBITATO " +"MALE");
          }
          else { //Dubitato bene
            $('#esitoDubbio').text("IL GIOCATORE "+data['doubt']+" HA DUBITATO " +"BENE")
            $('#esitoDubbio').show();
            console.log("IL GIOCATORE "+data['doubt']+" HA DUBITATO " +"BENE");
          }
        }
      }
    });
  }
}

//funzione di polling per il banco
function pollingAjaxba(){
  var my_delay = 1000;
  $('#esitoDubbio').hide();
  $(function() {
    callAjax();
  });
  var varajax;
  function callAjax() {
    if (stopPollingBa != 1) {
      console.log("Polling Banco not stopped");
      varajax = $.ajax({
        url: 'http://localhost:'+ player_server_port +'/banco',
        type: "GET",
        dataType: "json",
        success: function (data) {
          setTimeout(callAjax, my_delay);
          if (banco.length == data.length && banco.length!=0 && !mustRefreshBanco) //Per evitare refresh continui
            return ;
          banco = data;
          if (banco.length > bancoPreDoubt.length)
            bancoPreDoubt = data;
          var flag = false;
          $('#cardSlots').html('');
          for (var i=0; i<banco.length;i++){
            if (flag ==false){
              $('<div>' + i + '</div>').data( 'number', i ).appendTo( '#cardSlots' ).droppable( {
                accept: '#cardPile div',
                hoverClass: 'hovered',
                drop: handleCardDrop
              });
              $('<div>' + banco[i].event + '</div>').data( 'number', i).attr( 'id', 'primacarta' ).appendTo( '#cardSlots' )
              z = i+1
              $('<div>' + z + '</div>').data( 'number', z ).appendTo( '#cardSlots' ).droppable( {
                accept: '#cardPile div',
                hoverClass: 'hovered',
                drop: handleCardDrop
                });
              flag = true;
            }
            else if(flag == true) {
              $('<div>' + banco[i].event + '</div>').data( 'number', i ).attr( 'id', 'primacarta' ).appendTo( '#cardSlots' )
              y=i+1
              $('<div>' + y + '</div>').data( 'number', y).appendTo( '#cardSlots' ).droppable( {
                accept: '#cardPile div',
                hoverClass: 'hovered',
                drop: handleCardDrop
              });
            }
          }
          mustRefreshBanco = false;
        }
      });
    } //Chiude if stopPollingBa!=1
    else {
      varajax.abort();
      console.log("Polling Banco is stopped");
    }
  } //Chiude callAjax
} //Chiude pollingAjaxba
</script>
</head>
<body>
 <table align="center" id="form">
 <form method="post" >
  <tr>
    <td colspan="2" align="center"><b>Registrazione al servizio<br>Tutti i campi sono obbligatori</b></td>
  </tr>
  <tr>
    <td><b>Nome</b></td>
    <td><input type="text" name="nome" id="inputtext"></td>
  </tr><tr><td> <input type="button" value="Registrati" id="submit"></td></tr></table>
</form>
<div id="creap" style="display: none;" align="center">
    <table id="creapartita">
      <tr><td>Numero di giocatori</td><td><input type='text' id='n_players'></td>
    </table>
    <input type='button' id='createG' value='createGame'>
  </div>
<div id="partite" style="display: none;" align="center">
  </div>
<div id="esitoDubbio" align="center" style="display: none;"><h2></h2>
</div>
<div id="content">
  <div id="other_players" 
       style="
              display: none;
              width: inherit;
              padding: 20px;
              border: 2px solid #333;
              margin: 0 0 30px 0;
              -moz-border-radius: 10px;
              -webkit-border-radius: 10px;
              border-radius: 10px;
              -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
              -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
              box-shadow: 0 0 .3em rgba(0, 0, 0, .8);">
  </div>
  <div id="cardPile" style="display: none;"> </div>
  <input type="button" id ="dubbio" value="Dubbio" align="center" style="display: none;">
  <div id="cardSlots" style="display: none;"> </div>
 </div>
 <script>

 
 $( "#submit" ).click(function() {
  var bla = $("#inputtext").val();  
  $.ajax({
    url: 'http://localhost:'+ player_server_port +'/createPlayer/'+bla,
    type: "POST",
    dataType: "text",
    success: function (data) {
      console.log(data)
      $("#form").hide();
      showGames();
      $("#partite").show();
    },
    error: function(xhr, textStatus, errorThrown){
      if( textStatus == "error" )
       $("#inputtext").css({'background-color' : 'lightcoral'});
       console.log(textStatus);
       //console.log(errorThrown)
    }
  })
});

$( "#createG" ).click(function() {
    var nplayers = $("#n_players").val();
    stopPollingGames = 1;
    $.ajax({
    url: 'http://localhost:'+ player_server_port +'/createGame/'+nplayers,
    type: "POST",
    dataType: "text",
    success: function (data) {
      console.log(data)
      $("#creap").hide()
      $("#partite").show()
      pollingAjaxsg();
      pollingAjaxdb();
    },
    error: function (xhr, textStatus, errorThrown) {
      console.log(xhr)
      console.log(textStatus)
      console.log(errorThrown)
      $("#creap").hide();
      $("#partite").show();
    }
  })
});

$( "#dubbio" ).click(function() {
    $.ajax({
    url: 'http://localhost:'+ player_server_port +'/doubt',
    type: "PUT",
    dataType: "text",
    success: function (data) {
    }
  })
});

</script>
</body>
</html>