<!doctype html>
<html>
<head>
<title>Anno Futuri</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
<script type="text/javascript">
var ip_server = location.hostname
var player_server_port = location.port;
var stopPollingGames = 0;
var stopPollingGameStatus = 0;
var stopPollingTo = 0; 
var banco = new Array();
var bancoPreDoubt = new Array();
var game_status = 0;
var prevHandLenght = 0;
var n_players = 0;//nr of players
var color = 0;//variabile per colorare le caselline
var countdown; 
var mustRefreshBanco = false;
var pid = 0;

//Funzione per mostrare i giochi dopo la registrazione del player
function showGames(){
	var games
	var my_delay = 1000;
	$(function() {
		callAjax();
	});
	var varajax;
	function callAjax() {
		varajax = $.ajax({
			url: 'http://'+ip_server+':'+ player_server_port +'/gamesList',
			type: "GET",
			dataType: "json",
			success: function (data) {
				if (stopPollingGames != 1) {
					setTimeout(callAjax, my_delay);
					games = data
					if (games[0] == undefined) {
						$('#partite').html('');
						$('#partite').html('<h2>Keine Spiele vorhanden</h2><input type="button" id="createGame" value="Spiel erstellen">');
						$("#createGame").click(function() {
							$("#partite").hide();
							$("#creap").fadeIn("slow",function(){});
						});
					}
					else {
						$('#partite').html('');
						$('#partite').html('<h2>Spiele vorhanden</h2><table id="gamesTable"><tr><td>Ersteller</td><td>Spielerzahl</td></tr></table>');
						$("#createGame").click(function() {
							$("#partite").hide();
							$("#creap").fadeIn("slow", function(){});
						});
						for ( var i=0; i<games.length; i++ ) 
						  $('#gamesTable tr:last').after("<tr><td>"+games[i].creator.username+"</td><td>"+games[i].player_n+"</td><td><input type='button' id='join' value='Beitreten' onclick='joinGames("+games[i].game_id+")'></td></tr>");
					}
				} // chiusura stopPollingGames!=1
			} //chiusura success
		}) //chiusura varajax
		if (stopPollingGames == 1){
			varajax.abort();
		}
	}
}

function pollingAjaxStartGame(){
	$('#partite').html('');
	$('#partite').css('display','none');
	$("#partite").css('width', '460px');
	$('#partite').html('<h2 style="margin: 6px;">Warten Sie auf den Beginn des Spiels...</h2>');
	$('#partite').fadeIn("slow", function(){});
	var my_delay = 2000;
	var stopPollingSG = 0;
	$(function() {
		callAjax();
	});
	var varajax;
	function callAjax() {
	if (stopPollingSG != 1) {
		varajax = $.ajax({
			cache: false,    
			url: 'http://'+ip_server+':'+ player_server_port +'/gameStatus',        
			dataType: 'json',  
			success: function(data) {
				setTimeout(callAjax, my_delay);
				if(data['status'] == 1){
					game_status = 1;
					$('#partite').stop();
					$('#partite').hide();
					stopPollingSG = data['status'];
					chiediMano();
					$('#other_players').fadeIn("slow", function(){});
					$('#esitoDubbio').fadeIn("slow", function(){});
					$("#cardPile").fadeIn("slow", function(){});
					$("#dubbio").fadeIn("slow", function(){});
					$("#cardSlots").fadeIn("slow", function(){});
					$('#turno').fadeIn("slow", function(){});
					stopPollingSG = 1;
					pollingAjaxGameStatus();
					pollingAjaxTimeout();
				}
			}
		});
	}
	else
		varajax.abort();
	}
}

//Mostra il banco facendo riferimento alla variabile globale banco
function aggiornaBanco() {
	//struttura del banco
	$("#cardSlots").html('');
	for (var r=0; r<=parseInt(banco.length / 7); r++) { //per ogni riga
		if (r>0)
			$("#cardSlots").append('<div class="table-row-separator"></div>');
		$("#cardSlots").append('<div id="row'+r+'" class="cardsRow"></div>');
		for (var i=0; i<7; i++) {
			$("#row"+r).append('<div id="gancio' + (r*7+i) +'" style="visibility:hidden;"></div>');
			$("#row"+r).append('<div id="carta' + (r*7+i) +'" class="primacarta" style="opacity:0.0;"></div>');
		}
		$("#row"+r).append('<div id="gancio' + ((r+1)*7) + 'L" style="visibility:hidden;"></div>');
	}
	//setto le carte nel banco
	for (var i=0; i<banco.length; i++) {
		$("#carta"+i).data('number',i)
		$("#carta"+i).append('<p>' + banco[i].event + '</p>')
		$("#carta"+i).css("visibility","visible");
		$("#gancio"+i).droppable( {
			accept: '#cardPile div',
			hoverClass: 'hovered',
			drop: handleCardDrop
		});
		$("#gancio"+i).data('number',i);
		$("#gancio"+i).css("visibility","visible");
		if (i%7 == 6) {
			$("#gancio"+ (i+1) + "L").droppable ({
				accept: '#cardPile div',
				hoverClass: 'hovered',
				drop: handleCardDrop
			});
			$("#gancio"+ (i+1) + "L").data('number',i+1);
			$("#gancio"+ (i+1) + "L").css("visibility","visible");
		}
	}
	$("#gancio"+banco.length).droppable({
		accept: '#cardPile div',
		hoverClass: 'hovered',
		drop: handleCardDrop
	});
	$("#gancio"+banco.length).data('number',banco.length);
	$("#gancio"+banco.length).css("visibility","visible");
	
	var nextToShow = 0;
	$(function() {
		fadeInMano();
	});
	function fadeInMano() {
		if (nextToShow < banco.length) {
				$("#carta"+nextToShow).animate({opacity: 1.0});
				nextToShow += 1;
				setTimeout(fadeInMano, 80);
		}
	}
}

//Funzione che aggiorna il num. di carte dei vari giocatori e il turno
function askPlayerCards(){
	$(function() {
		callAjax();
	});
	var varajax;
	function callAjax() {
		varajax = $.ajax({
			cache: false,
			url: 'http://'+ip_server+':'+player_server_port+'/playerCards',        
			dataType: 'json',  
			success: function(data) {
				if (game_status == 1) {
					n_players = 0;
					for( key in data ) {
						n_players= n_players + 1;
					}
					if(n_players < 2) {
						stopPollingGameStatus = 1;
						$('body').html('');
						$('body').hide();
						$('body').html('<div><h2 style="text-align: center; color: black;font-family: initial;font-size: 50px;line-height: 60px;">Es gibt nicht genug Spieler, um das Spiel fortzusetzen</h2><img src="/static/dinosaur.gif" dynsrc="/static/dinosaur.gif" loop = false style="display: block; margin:auto;"></div>');
						$('body').fadeIn("slow", function(){});
						stopPollingGameStatus = 1
						stopPollingTo = 1
					}
					$('#other_players').empty();
					$('#other_players, .carta_p').show();
					for( key in data )
						$("#other_players").append("<div class='carta_p' id="+key+" style='float:left;'>"+data[key].username+"("+data[key].n_cards+")"+"</div>");
					$('#'+color).css({'background-color' : 'greenyellow'});
				}
			}
		});
	}
}

//Funzione che mostra le date del banco
function mostraDateBanco() {
	$("#cardPile div").draggable( "disable" );

	//struttura del banco
	$("#cardSlots").html('');
	$("#cardSlots").hide();
	for (var r=0; r<=parseInt(bancoPreDoubt.length / 7); r++) { //per ogni riga
		if (r>0)
			$("#cardSlots").append('<div class="table-row-separator"></div>');
		$("#cardSlots").append('<div id="row'+r+'" class="cardsRow"></div>');
		for (var i=0; i<7; i++) {
			$("#row"+r).append('<div id="gancio' + (r*7+i) +'" style="visibility:hidden;"></div>');
			$("#row"+r).append('<div id="carta' + (r*7+i) +'" class="primacarta" style="visibility:hidden;"></div>');
		}
		$("#row"+r).append('<div id="gancio' + ((r+1)*7) + 'L" style="visibility:hidden;"></div>');
	}
	//setto le carte nel banco
	for (var i=0; i<bancoPreDoubt.length; i++) {
		$("#carta"+i).data('number',i);
		$("#carta"+i).append('<p style="font-weight: bold; font-size: 16px;">' + bancoPreDoubt[i].year + '</p>');
		$("#carta"+i).css("visibility","visible");
		if (i+1 < bancoPreDoubt.length)
			if (bancoPreDoubt[i].year > bancoPreDoubt[i+1].year)
				$("#carta"+i).css('background-color','#BB4040');
		$("#gancio"+i).droppable( {
			accept: '#cardPile div',
			hoverClass: 'hovered',
			drop: handleCardDrop
		});
		$("#gancio"+i).data('number',i);
		$("#gancio"+i).css("visibility","visible");
		if (i%7 == 6) {
			$("#gancio"+ (i+1) + "L").droppable ({
				accept: '#cardPile div',
				hoverClass: 'hovered',
				drop: handleCardDrop
			});
			$("#gancio"+ (i+1) + "L").data('number',i+1);
			$("#gancio"+ (i+1) + "L").css("visibility","visible");
		}
	}
	$("#gancio"+bancoPreDoubt.length).droppable( {
		accept: '#cardPile div',
		hoverClass: 'hovered',
		drop: handleCardDrop
	});
	$("#gancio"+bancoPreDoubt.length).data('number',bancoPreDoubt.length);
	$("#gancio"+bancoPreDoubt.length).css("visibility","visible");
	bancoPreDoubt = banco;
	$("#cardSlots").fadeIn("slow", function(){});
}

function chiediMano(){
	socket.emit('mano')
}

function pollingAjaxGameStatus() {
	$(function() {
		callAjax();
	});
	function callAjax() {
		var varajax;
		if (stopPollingGameStatus == 0) {
			varajax = $.ajax({
				cache: false,
				url: 'http://'+ip_server+':'+player_server_port+'/bancoOrDoubt',
				dataType: 'json',  
				success: function(data) {
					console.log("*****")
					console.log(data)
					console.log("*****")
					if (data['status'] == "normal") { //CASO DI AGGIORNAMENTO DEL BANCO E DEL TURNO
						$('#esitoDubbio').css('opacity','0.0');
						newBanco = data['table']
						if (banco.length != newBanco.length || mustRefreshBanco) {
							banco = newBanco;
							aggiornaBanco(); 
							mustRefreshBanco = false;
						}
						askPlayerCards(); //Aggiorna #otherplayers
						
						//Controllo anche il turno
						jsonTurn = data['turn']
						if (jsonTurn['winner'] != "") { //c'è un vincitore
							$('body').html('');
							$('body').css('display','none');
							$('body').html('<div><h2 style="text-align: center; color: black;font-family: initial;font-size: 50px;line-height: 60px;">AND THE WINNER IS '+jsonTurn['winner']+'</h2><img src="/static/winner.gif" dynsrc="/static/winner.gif" loop = false style="display: block; margin:auto;"></div>');
							$('body').fadeIn("slow", function(){});
							stopPollingTo = 1;
							stopPollingGameStatus = 1;
							return ;
						}
						//Nessun vincitore: il gioco continua
						if(jsonTurn['turn_index'] == pid) { //E' il mio turno
							chiediMano();
							$('#cardPile').css("background-color","greenyellow");
							color = jsonTurn['turn_index'];
							$('#turno').html('');
							$('#turno').css('display','none');
							$('#turno').html('<h2 id="turnText">Sie sind dran</h2>');
							$('#turno').fadeIn("slow", function(){});
							$("#cardPile div").draggable( "enable" );
							if (banco.length >1)
								$('#dubbio').attr('disabled', false);
							else
								$('#dubbio').attr('disabled', true);
							stopPollingGameStatus = 1;
							startCountdown();
						}
						else { //Non è il mio turno
							setTimeout(callAjax, 1000);
							color = jsonTurn['turn_index'];
							if ($('#turnText').text() != "Warten Sie, bis Sie dran sind...") {
								$('#cardPile').css("background-color","darkgrey");
								$('#dubbio').attr('disabled', true);
								$('#turno').html('');
								$('#turno').hide();
								$('#turno').html('<h2 id="turnText">Warten Sie, bis Sie dran sind...</h2>');
								$('#turno').fadeIn("slow", function(){});
								$("#cardPile div").draggable( "disable" );
							}
						}
					} //CHIUSURA CASO DI AGGIORNAMENTO DEL BANCO E DEL TURNO
					
					else { //CASO DI DOUBT
						setTimeout(callAjax, 10000);
						bancoPreDoubt = data['table']
						mostraDateBanco();
						chiediMano(); //Nell'eventualità che debba pescare
						$('#cardPile').css("background-color","darkgrey");
						mustRefreshBanco = true;
						if (data['doubtResult'] == 1) { //Dubitato Male
							$('#esitoDubbio').text("Der Spieler "+data['doubter']+" hat zu Unrecht gezweifelt");
							$('#esitoDubbio').animate({opacity: 1.0});
						}
						else { //Dubitato bene
							$('#esitoDubbio').text("Der Spieler "+data['doubter']+" hat richtig gezweifelt")
							$('#esitoDubbio').animate({opacity: 1.0});
						}
					} //CHIUSURA CASO DI DOUBT
				} //chiusura success
			});
		} //chiusura if stopPollingGameStatus
  else
	if (varajax != undefined)
		varajax.abort();
	} //chiusura callAjax
}

function handleCardDrop(event, ui) {
	resetCountdown();
	ui.draggable.draggable('disable');
	$(this).droppable('disable');
	ui.draggable.position( { of: $(this), my: 'left top', at: 'left top' } );
	ui.draggable.draggable('option', 'revert', false );
	playCard(ui.draggable.data('card_id'), $(this).data('number'));
	mustRefreshBanco = true;
	$('#cardPile div').hide();
}

function joinGames(game_id) {
	stopPollingGames = 1;
	$.ajax({
		url: 'http://'+ip_server+':'+ player_server_port +'/joinGame/'+ $('#txtUsername').val() + '/' + game_id,
		type: "PUT",
		dataType: "text",
		success: function (data) {
			pollingAjaxStartGame(); 
		}
	});
}

function playCard(card_id,position){
	$.ajax({
		url: 'http://'+ip_server+':'+player_server_port+'/playCard/'+card_id+'/'+position,
		type: "PUT",
		dataType: "text"
	});
}

//Polling per il timeout
function pollingAjaxTimeout(){
	var my_delay = 1000;
	$(function() {
		callAjax();
	});
	var varajax;
	function callAjax() {
		if (stopPollingTo != 1) {
			varajax = $.ajax({
				cache: false,    
				url: 'http://'+ip_server+':'+ player_server_port +'/timeOut',        
				dataType: 'json',  
				success: function(data) {
					setTimeout(callAjax, my_delay);
					if(data['my_timeout']){
						$('body').html('');
						$('body').html('<div><h2 style="text-align: center; color: black;font-family: initial;font-size: 50px;line-height: 60px;">Ein Fehler ist aufgetreten</h2><img src="/static/dinosaur.gif" dynsrc="/static/dinosaur.gif" loop = false style="display: block; margin:auto;"></div>');
						stopPollingTo = 1;
						stopPollingGameStatus = 1;
					}
				}
			});
		}
		else
		  varajax.abort();
	}
}

function startCountdown() {
	clearInterval(countdown);
	$("#countdownText").html("55");
	countdown = setInterval("updateCountdown();", 1000);
	$("#countdownBox").css('color','green');
	$("#countdownBox").fadeIn("slow", function(){});
}

function updateCountdown() {
	$("#countdownText").css('display','none');
	$("#countdownText").html(parseInt($("#countdownText").text())-1);
	$("#countdownText").fadeIn("slow", function(){});
	if (parseInt($("#countdownText").text()) == 9) {
		$("#countdownText").css('color','red');
	}
	if (parseInt($("#countdownText").text()) == 0)
		countdownExpired();
}

function countdownExpired() {
	clearInterval(countdown);
	$('#cardPile').css("background-color","darkgrey");
	$('#dubbio').attr('disabled', true);
	$('#partite').html('');
	$('#partite').html('<h2>Tempo esaurito: non puoi pi&ugrave; giocare</h2>');
	$("#cardPile div").draggable("disable");
  	$("#countdownBox").fadeOut("fast", function(){});
	setTimeout($("#countdownText").html(""), 500);
}

function resetCountdown() {
	clearInterval(countdown);
	$("#countdownBox").fadeOut("fast", function(){});
	setTimeout($("#countdownText").html(""), 500);
}

</script>
<style>
	body {
	  background-image: url('https://cdn.pixabay.com/photo/2019/02/09/11/03/globe-3984876_960_720.jpg');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	}
</style> 
</head>
<body>
 <div id="form">
  <p class="formTitle">Anmeldung beim Dienst<br /></p>
  <div id="subform">
    <label>Name: </label>
    <input type="text" name="nome" id="txtUsername">
	<input type="button" value="Anmelden" id="createP">
  </div>
  <p id="errCreateP" style="text-align: center; display: none;"></p>
 </div>
 <div id="creap" style="display: none;">
	 <h2>Ein neues Spiel erstellen</h2>
    <label>Anzahl der Spieler: </label><input type="text" id="n_players">
    <input type="button" id="createG" value="Spiel erstellen">
 </div>
<div id="partite" style="display: none;" align="center">
</div>
<div id="turno" style="display: none;">
</div>
<div id="esitoDubbio" align="center" style="display: none;"><h2></h2>
</div>
<div id="content">
  <div id="other_players" style="display: none;">
  <div id="clear" style="clear: both"></div>
  </div>
  <div id="cardPile" style="display: none;"> </div>
  <input type="button" id ="dubbio" value="Zweifel" align="center" style="display: none; font-size: large; margin-top: 15px">
  <div id="cardSlots" style="display: none;"> </div>
 </div>
 <div id="countdownBox" style="display:none;">
	 <p id="countdownText"></p>
 </div>
 <script>
	 var socket = io.connect('http://' + document.domain + ':' + location.port);
 
$("#createP").click(function() {
	var name = $('#txtUsername').val();  
	if (name == "") {
		$('#txtUsername').css({'background': '-webkit-linear-gradient(top, #F08080, #F08080'});
		$('#txtUsername').css({'background': '-moz-linear-gradient(top, #F08080, #F08080'});
		$('#txtUsername').css({'background': '-ms-linear-gradient(top, #F08080, #F08080'});
		$('#txtUsername').css({'background': '-o-linear-gradient(top, #F08080, #F08080'});
		$('#errCreateP').html("Error: username cannot be empty");
		$('#errCreateP').fadeIn("slow", function(){});
		return ;
	}
	socket.emit('createPlayer', name)
});


socket.on('createSuccess', function(data) {
	$("#form").hide();
	showGames();
	$("#partite").fadeIn("slow", function(){});
})

socket.on('createErr', function(data) {
	$('#errCreateP').html("Error: " + data);
	$('#errCreateP').fadeIn("slow", function(){});
	if( false ) {
		$('#txtUsername').css({'background': '-webkit-linear-gradient(top, #F08080, #F08080'});
		$('#txtUsername').css({'background': '-moz-linear-gradient(top, #F08080, #F08080'});
		$('#txtUsername').css({'background': '-ms-linear-gradient(top, #F08080, #F08080'});
		$('#txtUsername').css({'background': '-o-linear-gradient(top, #F08080, #F08080'});
	}
})


$("#createG").click(function() {
    var nplayers = $("#n_players").val();
    if (isNaN(nplayers) || nplayers < 2) {
		$("#n_players").css({'background': '-webkit-linear-gradient(top, #F08080, #F08080'});
		$("#n_players").css({'background': '-moz-linear-gradient(top, #F08080, #F08080'});
		$("#n_players").css({'background': '-ms-linear-gradient(top, #F08080, #F08080'});
		$("#n_players").css({'background': '-o-linear-gradient(top, #F08080, #F08080'});
		return ;
	}
    $.ajax({
    url: 'http://'+ip_server+':'+ player_server_port +'/createGame/' + $('#txtUsername').val() + '/'+ nplayers,
    type: "POST",
    dataType: "text",
    success: function (data) {
	  stopPollingGames = 1;
      $("#creap").hide();
      $("#partite").css('width', '460px');
      $("#partite").fadeIn("slow", function(){});
      pollingAjaxStartGame();
    },
    error: function (xhr, textStatus, errorThrown) {
      console.log(xhr);
      console.log(textStatus);
      console.log(errorThrown);
      $("#creap").hide();
      $("#partite").fadeIn("slow", function(){});
    }
  })
});

$("#dubbio").click(function() {
    $.ajax({
    url: 'http://'+location.hostname+':'+ player_server_port +'/doubt',
    type: "PUT"
  })
});

socket.on('rcvGamesList', function(gamesToSend) {
	$.post('http://'+ip_server+':'+ player_server_port +'/rcvGamesList', gamesToSend);
})
socket.on('startGame', function(p_list) {
	var _plist = JSON.parse(p_list)
	for (var i in _plist) {
		if (_plist[i].username == $('#txtUsername').val()) {
			pid = i;
		}
	}
	$.ajax({
		url: 'http://'+ip_server+':'+ player_server_port +'/startGame',
		type: "PUT",
		data: p_list,
		contentType: "application/json"
	});
})
socket.on('playedCard', function(_url) {
	$.ajax({
		url: 'http://'+ip_server+':'+ player_server_port +'/playedCard' + _url,
		type: "PUT",
		success: function (data) {
			stopPollingGameStatus = 0;
			pollingAjaxGameStatus();
		}
	});
	chiediMano()
})
socket.on('bancoOrDoubt', function(data) {
	mtable = JSON.parse(data);
	setTimeout(pollingAjaxGameStatus, 10000);
	bancoPreDoubt = mtable.table
	mostraDateBanco();
	chiediMano(); //Nell'eventualità che debba pescare
	$('#cardPile').css("background-color","darkgrey");
	stopPollingGameStatus = 0;
	mustRefreshBanco = true;
	if (data.doubtResult == 1) { //Dubitato Male
		$('#esitoDubbio').text("Der Spieler "+mtable.doubter+" hat zu Unrecht angezweifelt");
		$('#esitoDubbio').animate({opacity: 1.0});
	}
	else { //Dubitato bene
		$('#esitoDubbio').text("Der Spieler "+mtable.doubter+" hat gut gezweifelt")
		$('#esitoDubbio').animate({opacity: 1.0});
	}
})
socket.on('mano', function(data) {
	cards = JSON.parse(data);
	if (prevHandLenght != cards.length) { //Aggiorno solo quando c'è realmente bisogno
		$('#cardPile').html('');
		for (var i=0; i<cards.length; i++) {
			riga = parseInt(i/7);
			if (i%7==0) { //per ogni riga
				if (i>0)
					$('#cardPile').append('<div class="table-row-separator"></div>');
				$('#cardPile').append('<div class="cardsRow" id="mycardrow'+riga+'"></div>');
			}
			$("#mycardrow"+riga).append('<div style="display: table-cell; width:2%; height:110px;"></div>');
			$("#mycardrow"+riga).append('<div id="mycard'+i+'" class="primacarta" style="opacity: 0.0;"><p>'+cards[i].event+'</p></div>');
			$("#mycard"+i).data('card_id', cards[i].card_id);
			$("#mycard"+i).draggable({
				containment: '#content',
				stack: '#mycard',
				cursor: 'move',
				revert: true
			});
			$("#mycardrow"+riga).append('<div style="display: table-cell; width:2%; height:110px;"></div>');
		}
		//Riempio il cardPile di carte vuote se non ho raggiunto il numero (7)
		for (var i=cards.length; i<7; i++) {
			riga = parseInt(i/7);
			$("#mycardrow"+riga).append('<div class="primacarta" id="mycard'+i+'" style="visibility: hidden;"></div>');
			$("#mycardrow"+riga).append('<div style="display: table-cell; width:2%;" style="visibility: hidden;"></div>');
		}
		prevHandLenght = cards.length
		
		var nextToShow = 0;
		$(function() {
			fadeInMano();
		});
		function fadeInMano() {
			if (nextToShow < cards.length) {
					$("#mycard"+nextToShow).animate({opacity: 1.0});
					nextToShow += 1;
					setTimeout(fadeInMano, 80);
			}
		}
	}
});

</script>
</body>
</html>
